* {
  margin: 0;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.3em;
}

@font-face {
  font-family: "minecraftia";
  src: url("minecraftia.woff2");
}

html {
  background-color: #121212;
}

body {
  max-width: 960px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.05);
}

nav {
  height: 50px;
}

.potionCard {
  min-width: 240px;
  height: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.07);
}

#potionOverview {
  display: flex;
  flex-wrap: wrap;
}

.potionCardImg {
  height: 80%;
  image-rendering: pixelated;
}

.potionCard a {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.potionCard:hover, .button:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px rgba(0, 0, 0, 0.2);
}


.potionCardTextDiv {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.potionCardTextDiv p, #cartTotal {
  text-align: center;
  font-family: "minecraftia", "Roboto", sans-serif;
}

.potionCardTextDiv p {
  color: lightgray;
}

.button {
  background-color: #b497fd;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cartA {
  float: right;
  width: 120px;
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-template-areas: "cartimg amount emeraldimg";
}

#detailDiv p, #detailDiv h3 {
  color: lightgray;
}

#potionImage {
  width: 400px;
  image-rendering: pixelated;
}

#cardDiv {
  display: grid;
  grid-template-columns: 20px 20px 20px;
}

#cartA.p {
  position: relative;
  top: 5px;
  grid-area: amount;
  color: black;
}

#cartImg {
  height: 100%;
  margin-right: 20px;
  float: left;
  grid-area: cartimg;
}

#emerald {
  height: 100%;
  margin-right: 5px;
  float: right;
  grid-area: emeraldimg;
}